.main-nav {
  float:right;
}

.utility-nav {
  position: absolute;
  width: 33%;
  top:60px;
  right:0;
}

.utilities {
  @include clearfix;
  margin:0;
  padding: 0.25em;
  font-weight:500;
  list-style-type: none;
  li {
    float:left;
    width: 6em;
    margin-right: 2.5em;
    border-left: 1px solid $black;
    padding-left: 0.9em;
    font-size: small;
    opacity: .4;
  }
  li.brochure{
    background-image: url("../images/sdo_broch.png") no-repeat right center;
  }

  }

  a {
    text-decoration: none;
    color:$black
  }
  a:hover {
    color: $black;
    opacity: 1;

  }
