// variables.scss

// Typeface
$font-stack: "franklin-gothic-urw",sans-serif;

// Colors

$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #FFA201;

// Category Color
$blue: #0AF5FD;
$green: #00EA90;
$yellow: #D5DC00;
$red: #E62620;
$pink: #EA0094;
$purple: #D43BEF;
